Welcome to ansible server {{ ansible_all_ipv4_addresses }}
Hostname {{ ansible_hostname }}
Architecture {{ ansible_architecture }}
Processor type {{ ansible_processor }}
Processor count {{ ansible_processor_count }}
Memoryfree {{ (ansible_memfree_mb | int)/1024 }}
Memorytotal {{ (ansible_memtotal_mb | int)/1024 }}
